@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Poppins", Arial, sans-serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
